<IfModule mod_rewrite.c>
    # negotiation拡張を無効化
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    # ベーシック認証の設定
#    AuthType Basic
#    AuthName "Restricted Area"
#    AuthUserFile ftp://submidori%2540city.sagamihara.kanagawa.jp@sv7043.xserver.jp/event/15th/.htpasswd
#    Require valid-user

    # phpファイルへの直接アクセスを禁じる
    <Files ~ "(\.php)$">
        deny from all
    </Files>
    # index.phpへのアクセスを許可
    <Files ~ "^(index\.php)">
        allow from all
    </Files>

    RewriteEngine On

    # 末尾にスラッシュがなく、ファイルやディレクトリにもマッチしない場合にスラッシュを追加
    RewriteCond %{REQUEST_URI} !/$
    RewriteCond %{REQUEST_URI} !\.[^/\.]+$
    RewriteRule .* %{REQUEST_URI}/ [R=301,L]

    # すべてのリクエストを index.php にルーティング（既存の MVC ルール）
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
